@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: "Inter", sans-serif;
} */

body {
  font-family: poppins, sans-serif;
}

.shadow-inset {
  box-shadow: inset 0px 1px 0 0px rgb(0 0 0 / 0%),
    inset 0 0 2px 0px rgb(0 0 0 / 15%);
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.prompt::-webkit-scrollbar {
  width: 5px;
}

.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}
